<!DOCTYPE html>

<html>

<head>

    <!-- 引入 Jquery -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <title>黑暗餐厅：失落神庙 - 线上报名</title>

    <!-- 引入线上字体 Noto Sans CJK SC -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap" rel="stylesheet">

    <!-- 引入 CSS 样式设置文件 -->
    <link rel="stylesheet" type="text/css" href="cssfolder/main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

    <div class="row" id="login">
        <div class="center container">
            <div class="row" style="text-align: center">
                <h1>活动Logo放这里</h1>
            </div>
        </div>
    </div>

    <!-- 网页底部说明文字 -->
    <div class="row" style="text-align: center">
        <p style="color:white">Copyright © 2019 PAPIC. All Rights Reserved.</p>
    </div>

    <!-- 主要 JS & Jquery 程序 -->
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>