body {
    background-color: #282828;
}

.gold {
    background: -webkit-linear-gradient(-90deg, #EEC681, #B99D5B);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}

.title {
    margin-top: 200px;
}

.section {
    margin-top: 75px;
    vertical-align: top;
}

p {
    color: #8f8f8f;
}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 100px;
    }
    input[type=text] {
        background-color: #282828;
        border: 2px solid rgba(185, 157, 91, 0.651);
        width: 15em;
        border-radius: 4px;
        height: 30px;
        color: white;
        margin-right: 3em;
        margin-top: 15px;
        padding: 10px;
    }
    select {
        background-color: #282828;
        border: 2px solid rgba(185, 157, 91, 0.651);
        width: 15em;
        border-radius: 4px;
        height: 50px;
        margin-right: 100px;
        margin-top: 15px;
        color: white;
        padding: 10px;
    }
    button {
        background-color: #B99D5B;
        color: rgb(61, 61, 61);
        font-size: 16px;
        padding-inline: 10px;
        border: 0px;
        width: 100px;
        border-radius: 20px;
        height: 45px;
        margin-right: 15em;
        color: rgb(61, 61, 61);
        font-weight: bolder;
        margin-top: 80px;
    }
    h1 {
        font-size: 42px;
        margin: 0;
    }
}

@media screen and (min-width: 500px) {
    .container {
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 200px;
    }
    input[type=text] {
        background-color: #282828;
        border: 2px solid rgba(185, 157, 91, 0.651);
        width: 400px;
        border-radius: 4px;
        height: 30px;
        margin-right: 100px;
        margin-top: 15px;
        color: white;
        padding: 10px;
    }
    select {
        background-color: #282828;
        border: 2px solid rgba(185, 157, 91, 0.651);
        width: 400px;
        border-radius: 4px;
        height: 50px;
        margin-right: 100px;
        margin-top: 15px;
        color: white;
        padding: 10px;
    }
    button {
        background-color: #B99D5B;
        color: rgb(61, 61, 61);
        font-weight: bolder;
        font-size: 16px;
        padding-inline: 10px;
        border: 0px;
        width: 100px;
        border-radius: 20px;
        height: 45px;
        margin-right: 500px;
        margin-top: 80px;
    }
    h1 {
        font-size: 72px;
        margin: 0;
    }
    .section {
        width: 600px;
        margin-top: 50px;
    }
    td {
        padding-right: 20px;
        padding-bottom: 20px;
    }
}

table {
    margin-top: 25px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B99D5B;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.changecolor input:checked+.slider {
    background-color: rgb(177, 177, 177);
}

input:focus+.slider {
    box-shadow: 0 0 1px #B99D5B;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}